@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nanum+Gothic+Coding&family=Raleway:wght@300&display=swap');

.home-main-div {
  background-color: #161616;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  font-family: 'Nanum Gothic Coding', monospace;
}

.home-left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  align-items: center;
}

.profile-pic {
  height: 300px;
  width: 300px;
  border-radius: 200px;
  /* margin-left: 15vw; */
  /* margin-top: 10vh; */
}

.first-name {
  color: #F7F7F7;
  font-size: 100px;
  margin: 0;
  /* margin-left: 6vw; */
}

/* .first-name .last-name {
  color: #B7DBE7;
} */

.typewriter {
  color: #B7DBE7;
  font-size: 70px;
  /* margin-left: 7vw; */
}

.home-right-div{
  display:flex;
  align-items: flex-end;
}

.home-right-div img {
  position: absolute;
  right: 4vw;
  /* animation-name: imagefade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 7s; */
  }

  /* @keyframes imagefade {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  } */

  /* .home-right-div img:nth-of-type(1) {
    animation-delay: 2s;
  }
  .home-right-div img:nth-of-type(2) {
    animation-delay: 4s;
  }
  .home-right-div img:nth-of-type(2) {
    animation-delay: 3.5s;
  }
  .home-right-div img:nth-of-type(1) {
    animation-delay: 0s;
  }
  .home-right-div img:nth-of-type(2) {
    animation-delay: 3s;
  }


  .mage2 {
    opacity: 0;
  } */

/* .mage {
  animation: 3s ease-in 1s infinite reverse both running slidein;
} */

/* ---------------------About------------------------- */

.about-main-div {
  background-color: #F8F9FA;
  width: 100%;
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;
}

.tech-stack {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: row; */
}

.project-tools {
  padding: 10px;
}

.stacks-main-div {
  background-color: #F8F9FA;
  width: 100%; 
  display: flex;
}

.about-title {
  display: block;
  width: 100%;
  margin-top: 15vh;
  background-color: #F8F9FA;
}

.desc-main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 !important;
}

.about-2-title {
  font-family: 'Major Mono Display', monospace;
  filter: drop-shadow(0 0 0.95rem #2bc4f7);
}

.about-me-desc {
  justify-content: right;
  /* width: 500px; */
  width: 30vw;
  background-color: white;
  padding: 25px;
  font-family: 'Raleway', sans-serif;
  color: #000000;
  margin-top: 0;
  /* border-radius: 16px; */
  /* border: solid 1px rgba(0, 0, 0, 0.132); */
}

.accolades {
  font-family: 'Raleway', sans-serif;
  
}

.Acc-color {
  color: #2bc4f7;
}

/* .acc-desc {
  width: 30vw;
} */

.cards {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.201);
  /* margin-top: 5vh;
  margin-bottom: 12vh; */
  padding: 15px;
  height: 16.8vh;
  margin: 5vh;
  width: 30vw;
}

.general-about {
  /* border: solid 1px #B33920; */
  background-color: white;
  /* background-color: #2bc4f74f; */
  border-radius: 16px;
  box-shadow: 0 17px 9px -7px rgba(0,0,0,0.35);
  height: 70vh;
  margin-top: 4vh;
}

.me-card-img {
  width: 100%;
  height: 320px;
  margin-bottom: 0;
}

.highlight1 {
  background-color: #2bc4f7;
}

.btnfos-1 {
  background: #2bc4f7;
  font-weight: 100;
}
.btnfos-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}
.btnfos-1 rect {
  fill: none;
  stroke: #2bc4f7;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
}

.btnfos-1:hover {
  background: rgba(225, 51, 45, 0);
  letter-spacing: 1px;
  font-weight: 900;
  color: #2bc4f7;
}
.btnfos-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.btnfos {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

.projects-main-title {
  color: #B7DBE7;
  font-family: 'Major Mono Display', monospace;
}

.whiteruler {
  background-color: white;
  width: 100%;
  margin-bottom: 5vh;
}

.projects-title-div {
  display: inline-flex;
  padding-top: 5vh;
}

.sweatmage {
  padding-right: 1vw;
}

/* -------------------Projects--------------------------- */


/* projects-main-div {

} */

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
  margin: 2vh;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #F8F9FA;
  color: #161616;
  transform: rotateY(180deg);
}

.imporium {
  height: 100%;
  width: 100%;
}

.ref-link {
  position: relative;
  margin: 1vw;
  text-decoration: none;
  background-color: #161616;
  color: #F8F9FA;
  padding: 2vh 2vw;
  top: 5vh;
}

.proj-pad {
  padding-left: .7vw;
  padding-right: .7vw;
}

/* -------------------Contact--------------------------- */

.contact-main-div {
  background-color: #F8F9FA;
  width: 100%;
  text-align: center;
}

.contact-title {
  font-family: 'Major Mono Display', monospace;
  filter: drop-shadow(0 0 0.95rem #2bc4f7);
  margin-top: 2vh;
  font-size: 2em;
  margin-bottom: 2vh;
}

.contact-main-body {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

.coolmage {
  transform: scaleX(-1);
}