.home-main-div {
  background-color: #161616;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.home-left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  align-items: center;
}

.profile-pic {
  height: 300px;
  width: 300px;
  border-radius: 200px;
  /* margin-left: 15vw; */
  /* margin-top: 10vh; */
}

.first-name {
  color: #F7F7F7;
  font-size: 100px;
  margin: 0;
  /* margin-left: 6vw; */
}

/* .first-name .last-name {
  color: #B7DBE7;
} */

.typewriter {
  color: #B7DBE7;
  font-size: 70px;
  /* margin-left: 7vw; */
}

.home-right-div{
  display:flex;
  align-items: flex-end;
}

.mage {
  animation: 3s ease-in 1s infinite reverse both running slidein;
}


.tech-stack {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
}